.navbar-brand { color: #c089ed  }

.disponible {
    color: green; 
    font-weight: bold;
}

.indication {
    color:#ff0000; 
    font-style: italic; 
}


.carousel-control-prev-icon,
.carousel-control-next-icon 
{
    filter: invert(0.5); 
}
					